body {
    background-color: white;
}
.full-vh {
    height : 100vh;    
}
#preview {
    padding-top: 8%;
}
.preview-box {
    height: 150px;
    width : 200px;
}
.preview-box img {
    max-width: 100%;
    height: auto;
}
.recipe-box img {
    max-width: 100%;
    height: auto;
}
.font-cursive {
    font-family: cursive;
}

.list-remove-style {
    list-style-type : none;
}