/*logo styling*/

.logo {
    font-family: fantasy;
    text-shadow: 5px 5px 10px #404240;
}


header span {
    font-size: 4rem;
}

.img-header {
    height: 20rem;
    width: auto;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*styling for the previews for all the recipes*/

.preview-box {
    height: auto;
    width: 300px;
}

.preview-box img {
    max-width: 100%;
    height: auto;
}

.preview-text {
    height : 20vh;
    overflow: hidden;
    display:block;
}

.recipe-box img {
    max-width: 100%;
    height: 100%;
}

/*styling for removing confirmation box  */
#remove_recipe-box{
    padding-top: 8%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height: 50vh;
}