{% extends 'base.html' %} 
{% block page_title %}No. 1 Food Recipe | Enjoy the best food in life !{% endblock %} 
{% block content %}
<section class='container-fluid p-0'>
    <!--Full recipe list-->
    <div class='mt-md-5 mt-2 w-100 text-center'>
        <h2>Recipes</h2>
    </div>
    <div class="row p-2">
        <!--Generate and display the recipe list-->
        {% for d in data %}
        <div class='col-md-3 col-sm-4 col-10 preview-box my-2 mx-auto'>
            <a href="{{ url_for('recipe', task_id=d['_id']) }}"><img src='static/images/{{ d.dish_image }}' alt="{{ d.dish_name }}"></a>
            <p class='text-center'>
                <strong><i class="fas fa-utensil-spoon text-danger"></i> {{ d.dish_name }}</strong>
                <p class='preview-text text-justify' >{{ d.dish_description [:160] + (d.dish_description[160:] and '...' )}}</p>
            </p>
        </div> 
        {% endfor %}

    </div>
    <!--end of recipe list-->
</section>
{% endblock %}
