{% extends 'base.html' %} 
{% block page_title %}No. 1 Food Recipe | Enjoy the best food in life !{% endblock %} 
{% block content %}
<main class='container-fluid p-0'> 
    

    <header class="row w-100 p-5">
        <div class='d-md-block d-none mx-auto text-center'>
            <span class=' logo text-danger mx-auto'>WOKING FORK TUMMY</span>
        </div>
    </header>
    
    <footer class='text-center w-100 mt-5 p-5'>
        <small class='text-muted'>@Woking Fork Tummy</small>
    </footer>    
    
</main>
{% endblock %}

