{% extends 'base.html' %} {% block page_title %}No. 1 Food Recipe | Enjoy the best food in life !{% endblock %} {% block content %}
<div id='recipe' class='bg-light mx-4'>
    <p class='mx-4'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus soluta quae libero illo modi quisquam numquam, nobis, mollitia fugit odit doloremque, maxime veritatis vero cumque optio praesentium! Rerum, earum.</p>
    <div class='recipe-display row mx-auto'>
        {% for d in data %}
        <div class='col-md-4 col-sm-6 col-12'>
            <div class='recipe-box my-0 mx-auto'>
                <img src='static/images/{{ d.dish_image }}' alt="{{ d.dish_name }}">
            </div>
            <p class='d-flex justify-content-center'>
                <span class='text-danger'><strong>{{ d.dish_name }}</strong></span>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

