{% extends 'base.html' %} {% block page_title %}New Recipe is the best thing human creation !{% endblock %} {% block content %}
<section class='mt-5 mx-3 p-3'>
    <div class='d-flex justify-content-between pt-md-5 pt-2 px-3'>
        <p class='w-100 text-dark '>
            <i>
                <!--Link back to home page-->
                <a class="text-decoration-none text-success" href="{{ url_for('index') }}">Home</a> > Submit new recipe
            </i>
        </p>
        
    </div>
    <div class='row pt-md-5 pt-2'>
        <h2 class='mx-auto'><strong>Submit Your Recipe</strong></h2>
    </div>
    <hr class='mt-0' style='width:5%; border:dark 3px'/>
    <div class="row">
        <div class="col-md-4 col-12">        
            <p class='mx-3'>Share your favourite recipe with us, and we make sure it reaches millions of taste buds !</p>
        </div>
        <div class="col-md-8 col-12">
            <div class='bg-light p-4 w-100 rounded'>
                <form method='POST' enctype='multipart/form-data'>
                    
                    <!--Recipe name entry-->
                    <div class="form-group row">
                        <label for="dish_name" class="col-sm-3 ">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="dish_name" name="dish_name" placeholder="Recipe title">
                        </div>
                    </div>
                    
                    <!--Image upload-->
                    <div class="form-group row">
                        <label for='dish_image' class="col-sm-3 col-form-label">File Upload</label>
                        <div class="col-sm-9">
                            <input type='file' class="form-control" id="dish_image" name='dish_image' />
                        </div>
                    </div>
                    <!--Description entry-->
                    <div class="form-group row">
                        <label for="dish_description" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="dish_description" name='dish_description' placeholder='Recipe description'></textarea>
                        </div>
                    </div>
                    <!--Ingredients Entry-->
                    <div class="form-group row">
                        <label for="dish_ingredient1" class="col-sm-3 col-form-label">Ingredients</label>
                        <div class="form-inline col-sm-9">
                            <input readonly type='text' disabled class="pl-3 w-75 form-control-plaintext" value='Ingredient' />
                            <input readonly type='text' disabled class="pl-3 w-25 form-control-plaintext" value='Amount' />
                            <input type='text' class="w-75 form-control" id="dish_ingredient1" name='dish_ingredient1' placeholder='Ingredient 1' />
                            <input type='text' class="w-25 form-control" id="dish_ingredient1_portion" name='dish_ingredient1_portion' placeholder='e.g 10ml' />
                            <input type='text' class="w-75 form-control" id="dish_ingredient2" name='dish_ingredient2' placeholder='Ingredient 2' />
                            <input type='text' class="w-25 form-control" id="dish_ingredient2_portion" name='dish_ingredient2_portion' placeholder='e.g 10ml' />
                            <input type='text' class="w-75 form-control" id="dish_ingredient3" name='dish_ingredient3' placeholder='Ingredient 3' />
                            <input type='text' class="w-25 form-control" id="dish_ingredient3_portion" name='dish_ingredient3_portion' placeholder='e.g 10ml' />
                            <input type='text' class="w-75 form-control " id="dish_ingredient4" name='dish_ingredient4' placeholder='Ingredient 4' />
                            <input type='text' class="w-25 form-control " id="dish_ingredient4_portion" name='dish_ingredient4_portion' placeholder='e.g 10ml' />
                            <input type='text' class="w-75 form-control " id="dish_ingredient5" name='dish_ingredient5' placeholder='Ingredient 5' />
                            <input type='text' class="w-25 form-control " id="dish_ingredient5_portion" name='dish_ingredient5_portion' placeholder='e.g 10ml' />
                            <input type='text' class="w-75 form-control " id="dish_ingredient6" name='dish_ingredient6' placeholder='Ingredient 6' />
                            <input type='text' class="w-25 form-control " id="dish_ingredient6_portion" name='dish_ingredient6_portion' placeholder='e.g 10ml' />
                        </div>
                    </div>
        
                    <!--Instructions entry-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Instructions</label>
                        <div class=" col-sm-9">
                            <input readonly type='text' disabled class="pl-3 form-control-plaintext" value='Cooking Instructions' />
                            <input type='text' class="form-control" id="dish_instruction1" name='dish_instruction1' placeholder='Fry Ginger until brown and add in the chicken' />
                            <input type='text' class="form-control" id="dish_instruction2" name='dish_instruction2' placeholder='Add in rice wine and fry for 5 more min' />
                            <input type='text' class="form-control" id="dish_instruction3" name='dish_instruction3' placeholder='Add 50ml of water and stew for 15mins' />
                            <input type='text' class="form-control" id="dish_instruction4" name='dish_instruction4' placeholder='Next Step' />
                            <input type='text' class="form-control" id="dish_instruction5" name='dish_instruction5' placeholder='Next Step' />
                            <input type='text' class="form-control" id="dish_instruction6" name='dish_instruction6' placeholder='Next Step' />
                        </div>
                    </div>            
                    <!--Preparation time estimate-->
                    <div class="form-group row">
                        <label for="dish_prep_time" class="col-sm-3 ">Preparation time</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="dish_prep_time" name="dish_prep_time" placeholder="30 min">
                        </div>
                    </div>
                    <!--Cooking Time estimate-->
                    <div class="form-group row">
                        <label for="dish_cook_time" class="col-sm-3 ">Cooking time</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="dish_cook_time" name="dish_cook_time" placeholder="1 hr 15 mins">
                        </div>
                    </div>
                    <!--Servings -->
                    <div class="form-group row">
                        <label for='dish_serving' class="col-sm-3 col-form-label">Servings</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="dish_serving" name='dish_serving'>
                              <option><i>--</i></option>
                              <option>1 pax</option>
                              <option>2 pax</option>
                              <option>3 pax</option>
                              <option>4 pax</option>
                              <option>5 pax</option>
                              <option>6 pax</option>
                            </select>
                        </div>
                    </div>
                    <!--Cusine style select-->
                    <div class="form-group row">
                        <label for='dish_type' class="col-sm-3 col-form-label">Cusine Type</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="dish_type" name='dish_type'>
                                <option><i>--</i></option>
                              <option>Singapore</option>
                              <option>Chinese</option>
                              <option>Muslim</option>
                              <option>Indian</option>
                              <option>Italian</option>
                              <option>French</option>
                              <option>American</option>
                              <option>Mexican</option>
                            </select>
                        </div>
                    </div>
                    <!--Skill Level : Easy Intermediate Hard-->
                    <div class="form-group row">
                        <label for='dish_skill' class="col-sm-3 col-form-label">Skill Level</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="dish_skill" name='dish_skill'>
                                <option><i>--</i></option>
                              <option>Easy</option>
                              <option>Intermediate</option>
                              <option>hard</option>
                     
                            </select>
                        </div>
                    </div>
                    
                    <!--Submit button-->
                    <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <div class='col-sm-9'>
                            <button type='submit' class='bg-success rounded text-light py-2 w-100'>Submit Recipe</button>
                        </div>
                </form>
                </div>
        </form>
            </div>
        </div>
    </div>
    
        
</section>
{% endblock %}
