{% extends 'base.html' %} {% block page_title %}No. 1 Food Recipe | Enjoy the best food in life !{% endblock %} {% block content %}

<section class='mt-5 mx-md-5 mx-3 p-3'>
    <!--Mini Navbar-->
    <div class='d-flex justify-content-between pt-md-5 pt-2 px-3'>
        <p class='d-md-inline-block d-none w-100 text-dark '>
            <i>
                <a class="text-decoration-none text-success" href="{{ url_for('index') }}">Home</a> > Recipe > {{ data.dish_name }}
            </i>
        </p>
        <p class='w-100 text-dark text-right '>
            <i>
                <a class="text-decoration-none text-success" href="{{ url_for('edit_recipe', task_id=data['_id'], image=data['dish_image']) }}">Edit</a> |
                <a class="text-decoration-none text-warning" href="{{ url_for('confirm_remove_recipe', task_id=data['_id']) }}">Remove</a>
            </i>
        </p>
    </div>
    <!--Dish name-->
    <div class='row'>
        <div class="col-md-6 col-12 py-3 mx-auto">
            <h3 class='text-center'><strong>{{ data.dish_name }}</strong></h3>
            <hr class='border-dark w-25 my-0' />
        </div>
    </div>
    <!--Dish Image-->
    <div class='row'>
        <div class='col-12 preview-box mx-auto text-center W-100'>
            <img src='/static/images/{{ data.dish_image }}' alt="{{ data.dish_name }}" />
        </div>
    </div>
    <!--Dish Description-->
    <div class="row py-md-3 py-2">
        <div class="col-12 mx-auto text-justify">
            <p> {{ data.dish_description }}</p>
            <hr class='border-dark' />
        </div>
    </div>
    <!--Dish Other information-->
    <div class="row px-md-2 px-2">
        <div class="col-md-4 col-12 d-flex"><strong>Servings : &nbsp</strong> {{ data.dish_serving }}</div>
        <div class="col-md-4 col-12 d-flex"><strong>Time : &nbsp</strong> {{ data.dish_prep_time }}</div>
        <div class="col-md-4 col-12 d-flex"><strong>Skill : &nbsp</strong> {{ data.dish_skill }}</div>
    </div>
    <hr/>
    <!--Ingredients-->
    <div class="row mt-3 px-md-2 p-0">
        <!--Generate the list of ingredients-->
        <div class="col-md-6 col-12">
            <h4>Ingredients : </h4>
            <!--<p class="p-0">-->

            <div class="row"></div>

            <div class="col-12">
                {% for detail in data.dish_ingredient %}
                <div class="row">
                    <div class="col-1 font-cursive"><h4><i>{{ detail.numbering }}</i></h4></div>
                    <div class="col-3">{{ detail.dish_portion }}</div>
                    <div class="col-6">{{ detail.dish_ingredient }}</div>
                </div>
                {% endfor %}
            </div>
            <!--</p>-->
        </div>
        
        <div class="col-md-6 col-12 mt-md-0 mt-3">
            <h4>Instructions : </h4>
            <!--<p class="p-0">-->

            <div class="row"></div>

             <div class="col-12">
                    {% for detail in data.dish_instructions %}
                    <div class="row">
                        <div class="col-1 font-cursive"><h4><i>{{ detail.numbering }}</i></h4></div>
                        <div class="col-11">{{ detail.dish_instruction }}</div>
                    </div>
                    {% endfor %}
                </div>
            <!--</p>-->
        </div>
    </div>
</section>
{% endblock %}
