{% extends 'base.html' %} {% block page_title %}No. 1 Food Recipe | Enjoy the best food in life !{% endblock %} {% block content %}

<!--To display the successful submission messages-->
<section class='mt-5 p-5 vh-100'>
    <div class='d-flex justify-content-center align-center text-center'>
        <div class='w-75'>
         <h3>{{ message0 }}</h3>
         <p>{{ message1 }}</p>
         <p>{{ message2 }}</p>
         <a class='btn btn-success' href='{{ url_for ('how_to') }}'>Cook it !</a>
         </div>
    </div>
</section>
{% endblock %}

